//Primary Colors
$primaryGreen: #25a4a9;
$primaryLight: #f8fafc;
$primaryCta: #0095FF;
$primaryBlue: #202b3e;

// Lights
$lightPurple: #dad1ee;
$lightYellow: #fdf4d8;
$lightBlue: #d3edfb;
$lightGreen: #d3edfb;
$lightRed: #f9dbdb;
$lightGrey: #e3e8ef;
$lightWhite: #FAFAFA;

// Darks
$darkGreen: #3f7f86;
$darkBlue: #0065AD;

// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;

//Weight
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;