@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.container {

  &__top {
    background-color: $primaryBlue;
    color: $primaryLight;
    padding: 2rem;
    display: flex;
    height: 12rem;
  }

  &__img{
    flex: 1;
    max-width: 4rem;
  }

  &__titles {
     flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__question{
    display: flex;
    flex-direction: column;

    &--img{
      max-width: 2rem;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__arrow {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  
  }

  
}
