@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;


.container-visualization{
    max-width: 90rem;
    margin-inline: auto;
    padding-bottom: 5rem;

    &__text{
        font-size: 1.5rem;
        margin-top: 5rem;
    }
}

.card-container{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;

    &__columns{
        display: flex;
        flex-direction: row;
        margin: auto;
    }
}